header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3d3d3d;
  }
.search-bar {
    display: flex;
    align-items: center;
}
  
.search-bar input[type="text"] {
    margin-right: 10px;
}
  
.header-buttons {
    display: flex;
    align-items: center;
    padding: 15px;
}
  
.header-buttons button {
    margin-right: 10px;
}

body{
  text-align: left;
  background-color: rgb(175, 180, 184);
}

.titulo-lancamento{
    font-family: "Sedan SC";
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}
  